$bgcolor_button: #03989E;
$border_color:  #03989E;
$buttons_font_color: #171933;
$buttons_font_color_hover: rgba(0, 0, 0, 0.39);
$buttons_background: #efefef;

// Reusable classes
.button_format {
    border: none !important;
}

.border_radius {
    border-radius: 50%;
}

.button-template {
    color: $buttons_font_color;
    font-weight: 500;
}

.button-template:hover {
    color: $buttons_font_color_hover;
}


// Header classes
.navbarroot {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: none;
    transition: 0.5s all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar__buttons-item--contact {
    @extend .button_format;
    background: transparent;
    border: 1.5px solid $bgcolor_button !important;
    border-radius: 10px;
    color: $bgcolor_button;
    padding: 10px 18px;
    font-weight: bold;
    margin-left: 40px;
    transition: .3s all;
    text-decoration: none;
}

.nav-bar__buttons-item--contact:hover {
    background: $bgcolor_button;
    color: #FFFFFF;
}


.nav-bar__buttons-item--contact-responsive {
    display: none;
}

// navbar container
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// navbar logo
.nav-bar__logo {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.nav-bar__logo-image {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.nav-bar__logo-text {
    margin-left: 15px;
    font-size: 20px;
    color: $bgcolor_button;

}

// navbar display
.nav-bar__display {
    @extend .border_radius;
    display: none;
    cursor: pointer;
    padding: 10px;
}

.nav-bar__display:hover {
    background-color: $buttons_background;
}

.nav-bar__display-icon {
    width: 20px;
    height: 20px;
}

// navbar button section
.nav-bar__buttons {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.nav-bar__buttons-item {
    display: block;
    text-decoration: none;
    border-radius: 5px;
    padding: 28px 10px;
    transition: .2s;
}

.nav-bar__buttons-item--basic {
    @extend .button-template;
}

.nav-bar__buttons-item--basic:hover {
   @extend .button-template, :hover;
}

// user dropdown section 
.nav-bar__dropdown-button {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    position: relative;
    width: 50px;
    color: $buttons_font_color !important;
    font-weight: bold !important;
}

.nav-bar__dropdown-button:focus {
    box-shadow: none !important;
}

.nav-bar__dropdown-image {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-bar__dropdown-image:hover {
    box-shadow: #534d4d 0px 0px;
}

.nav-bar__dropdown-menu {
    margin-top: 20.2px !important;
    background-color: #FFFFFF !important;
    border: none !important;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nav-bar__dropdown-link {
    text-decoration: none;
    color: $buttons_font_color;
}

.nav-bar__dropdown-link:hover {
    color: $buttons_font_color_hover;
}

// Responsive navbar section
#nav-bar__responsive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #2e2e2e5d;
}

.nav-bar__responsive--none {
    display: none;
}

.nav-bar__responsive--block {
    display: none;
}

.nav-bar__responsive-list {
    height: 500px;
    padding: 120px 10% 40px 10%;
    list-style-type: none !important;
    background-color: #ffffff;
    overflow-y: scroll !important;
}

.nav-bar__responsive-li {
    width: 100%;
}

.nav-bar__responsive-item {
    width: 100%;
    padding: 9px 8px;
    color: $buttons_font_color;
    font-weight: bold;
    text-decoration: none;
    transition: .2s;
}

.nav-bar__responsive-item:hover {
    box-shadow: $border_color 4px 0px inset !important;
    color: $buttons_font_color_hover;
}

.nav-bar__responsive-item:focus {
    box-shadow: none!important;
    color: $buttons_font_color_hover !important;
}


/* MEDIA QUERY */
@media screen and (max-width: 962px) {

    .nav-bar {
        padding: 15px 0;
    }

    .nav-bar__logo-text {
        display: none;
    }

    .nav-bar__buttons {
        display: none;
    }

    #nav-bar__display-id {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
    }
    
    .nav-bar__responsive--block {
        display: block;
    }

    .nav-bar__buttons-item--contact-responsive {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar {
        display: flex;
    }
}

@media screen and (max-height: 500px){
    .nav-bar__responsive-list {
        height:  100vh;
    }
}