$buttons_font_color: #0A2540;
$buttons_font_color_hover: rgba(0, 0, 0, 0.39);
$buttons_background: #efefef;

.home-footer {
    position: relative;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 87px;
    display: flex;
    border-bottom: 1px solid rgba(11, 33, 54, 0.42);
}

.home-footer__ul {
    display: block;
    padding-bottom: 20px;
    padding-right: 40px;
    border-right: 1px solid rgba(11, 33, 54, 0.42);
}

.home-footer__li {
    list-style: none;
}
.home-footer__p {
    color:  $buttons_font_color;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.055em;
    margin: 10px 20px;
}

.home-footer__link, .home-footer__p {
    text-decoration: none;
    color:  $buttons_font_color;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.055em;
    margin: 10px 20px;
}

.home-footer__link:hover {
    color: $buttons_font_color_hover;
}

.home-footer__copyright {
    color: $buttons_font_color;
    letter-spacing: 0.055em;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}

.social-media {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.social-media-link {
    font-size: 30px;
    margin: 0 20px;
    // background-color: green;
}

.redwoman {
    width: 600px;
    height: 400px;
    position: absolute;
    bottom: -120px;
    right: 0%;
    z-index: 1;
    filter: saturate(68%) brightness(1.2);
}


@media screen and (max-width: 1286px) {
    .redwoman {
        width: 400px;
        height: auto;
        bottom: 100%;
        right: 0;
    }
}

@media screen and (max-width: 750px) {
    .home-footer {
        flex-direction: column;
        align-items: center;
    }

    .home-footer__ul {
        flex-direction: column;
        align-items: center;
        border: none;
        text-align: center;
    }
    .redwoman {
        width: 200px;
        height: auto;
        bottom: 100%;
        right: 0;
    }
}

